<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="myvendor_adminsamplemodule" translate="label" sortOrder="45">
            <label>MyVendor</label>
        </tab>
        <section id="sampleadminmodule" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
        	<class>separator-top</class>
            <label>Sample Admin Module</label>
            <tab>myvendor_adminsamplemodule</tab>
            <resource>MyVendor_AdminSampleModule::configuration</resource>

            <group id="general" translate="label" type="text" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10">
            	<label>General Configuration</label>

                <field id="enable" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="10">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                    <label>Title</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment><![CDATA[This is some comment]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
